:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.template,
.hidden {
  display: none;
}

/*TODO*/
input,
button,
textarea {
  font-family: serif;
  font-size: 16px; 
  background-color: inherit;
}

textarea {
  width: 100%;
  height: 5rem; 
}

.moving {
  border: 2px solid black;
}

.edit, .startMove, .delete {
  background-color: inherit;
  border: none;
}

.edit:hover, .startMove:hover, .delete:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.moveHere {
  background-color: rgb(0,0,0,0);
  border: none;
  font-size: small;
  color: gray;
}

.moveHere:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  color: black;
}

.dragBorder {
  border: 2px solid blue;
  margin: 0; 
  padding: 0;
}

.card {
  padding: 0.5rem; 
  margin: 0.3rem 0;
}

.description {
  white-space: pre-wrap;
}